Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2021-12, with the labels that each got.

#201 bus-mapping: Extend circuit_input_builder
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/error.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pc.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/state_db.rs
  geth-utils/README.md
  geth-utils/go.mod
Labels: bus-mapping

#208 bus-mapping: Bump ethers dependency
  bus-mapping/Cargo.toml
  bus-mapping/src/eth_types.rs
Labels: bus-mapping

#182 enable rho check selectors
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/tables.rs
Labels: keccak

#199 Replace with kate
  Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/README.md
  bus-mapping/src/eth_types.rs
  bus-mapping/src/lib.rs
  keccak256/Cargo.toml
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/pi.rs
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/tables.rs
  keccak256/src/gates/theta.rs
  keccak256/src/gates/xi.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/benches/binary_value.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/add.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/bitwise.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/dup.rs
  zkevm-circuits/src/evm_circuit/op_execution/jump.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/pc.rs
  zkevm-circuits/src/evm_circuit/op_execution/pop.rs
  zkevm-circuits/src/evm_circuit/op_execution/push.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/common_cases.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/math_gadgets.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/memory_gadgets.rs
  zkevm-circuits/src/gadget.rs
  zkevm-circuits/src/gadget/evm_word.rs
  zkevm-circuits/src/gadget/is_zero.rs
  zkevm-circuits/src/gadget/monotone.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/util.rs
Labels: bus-mapping, zkevm-circuits, opcode, keccak

#205 feat: Add eth_getProof RPC
  bus-mapping/src/eth_types.rs
  bus-mapping/src/rpc.rs
Labels: bus-mapping

#209 Generate AccessTrace and AccessSet
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/stack.rs
  bus-mapping/src/evm/storage.rs
Labels: bus-mapping

#221 Add integration testing with geth
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/src/eth_types.rs
  bus-mapping/src/rpc.rs
  integration-tests/.gitignore
  integration-tests/Cargo.toml
  integration-tests/README.md
  integration-tests/contracts/.gitignore
  integration-tests/contracts/greeter/Greeter.sol
  integration-tests/docker-compose.yml
  integration-tests/run.sh
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/lib.rs
  integration-tests/tests/rpc.rs
  rustfmt.toml
Labels: bus-mapping

#144 Build keccak all toghether
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  keccak256/src/circuit.rs
  keccak256/src/gates.rs
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/mixing.rs
  keccak256/src/gates/pi.rs
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/theta.rs
  keccak256/src/gates/xi.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/lib.rs
Labels: keccak

#224 use (Cell, F) for Rho gate
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
Labels: keccak

#196 Make gadgets to handle an execution state instead of an opcode per step
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/gas.rs
  bus-mapping/src/evm/opcodes/ids.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/add.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/comparator.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_pure_memory.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/pop.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/add.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/bitwise.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/dup.rs
  zkevm-circuits/src/evm_circuit/op_execution/jump.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/pc.rs
  zkevm-circuits/src/evm_circuit/op_execution/pop.rs
  zkevm-circuits/src/evm_circuit/op_execution/push.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/common_cases.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/util.rs
Labels: bus-mapping, zkevm-circuits, opcode

#226 Circuit benchmarks addition to workspace
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  Cargo.toml
  Makefile
  README.md
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/build.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/state_circuit.rs
  integration-tests/Cargo.toml
  integration-tests/src/bin/gen_blockchain_data.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/test_vectors.rs
Labels: bus-mapping, zkevm-circuits, opcode

#229 docs: fix typos
  keccak256/src/gates/rho_checks.rs
Labels: keccak

#234 Radical Pi Gate
  keccak256/src/gates/pi.rs
Labels: keccak

#241 Update Theta to copy state Cells for in/out
  keccak256/src/gates/theta.rs
Labels: keccak

#235 bus-mapping: Extend CircuitInputBuilder
  .github/workflows/integration.yml
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pc.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/evm/stack.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/rpc.rs
  bus-mapping/src/state_db.rs
  integration-tests/Cargo.toml
  integration-tests/run.sh
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/lib.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/rpc.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits

#239 Construct EVM circuit test inputs from Geth trace
  bus-mapping/src/bytecode.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pop.rs
  circuit-benchmarks/src/evm_circuit.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/add.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/comparator.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_pure_memory.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/pop.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, zkevm-circuits, opcode

#242 Iota, Absorb and Mixing gates Layouter + Cell copy strategy impl
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/mixing.rs
Labels: keccak

#245 bus-mapping: Handle code_hash in CircuitInputBuilder, Define more Operations
  bus-mapping/src/bytecode.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pc.rs
  bus-mapping/src/evm/opcodes/pop.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  bus-mapping/src/state_db.rs
  geth-utils/lib/lib.go
  integration-tests/tests/circuit_input_builder.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits, opcode

#247 bus_mapping: add `jump` and `jumpi` opcode
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/jump.rs
  bus-mapping/src/evm/opcodes/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#251 Fix compilation error
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  bus-mapping/src/evm/opcodes/jump.rs
  bus-mapping/src/evm/opcodes/jumpi.rs
Labels: bus-mapping

#236 Fix `JUMP` and `JUMPI` to support 8 bytes for destination
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/param.rs
Labels: opcode

#254 use table columns
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/tables.rs
Labels: keccak

#252 bus-mapping: Add call_id in StackOp and MemoryOp
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/jump.rs
  bus-mapping/src/evm/opcodes/jumpi.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pc.rs
  bus-mapping/src/evm/opcodes/pop.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits, opcode

#215 Add base conversion lookup table
  keccak256/src/arith_helpers.rs
  keccak256/src/gates.rs
  keccak256/src/gates/base_conversion.rs
  keccak256/src/gates/state_conversion.rs
  keccak256/src/gates/tables.rs
Labels: keccak

#240 Feature: Implement MSIZE opcode
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/msize.rs
  bus-mapping/src/external_tracer.rs
  geth-utils/example/msize.go
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode
