Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2021-11, with the labels that each got.

#120 Add EQ support in LtGadget
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/math_gadgets.rs
  zkevm-circuits/src/evm_circuit/param.rs
Labels: opcode

#143 [Opcode] Jumpdest
  bus-mapping/src/evm.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
Labels: zkevm-circuits, opcode

#157 udpate toolchain to enable the array_map feature
  .github/workflows/lints-stable.yml
  bus-mapping/src/operation.rs
  rust-toolchain
Labels: bus-mapping

#158 Add operation
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/add.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/stack.rs
  bus-mapping/src/operation/container.rs
Labels: bus-mapping

#147 Refactor all opcodes to use the constraint builder + other utils
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes/ids.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/dup.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/op_execution/pc.rs
  zkevm-circuits/src/evm_circuit/op_execution/pop.rs
  zkevm-circuits/src/evm_circuit/op_execution/push.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/common_cases.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/math_gadgets.rs
Labels: bus-mapping, opcode

#87 Implement MLOAD/MSTORE opcodes
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/gas.rs
  bus-mapping/src/evm/opcodes/mload.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/dup.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/pc.rs
  zkevm-circuits/src/evm_circuit/op_execution/pop.rs
  zkevm-circuits/src/evm_circuit/op_execution/push.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/common_cases.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/math_gadgets.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/memory_gadgets.rs
  zkevm-circuits/src/evm_circuit/param.rs
Labels: bus-mapping, zkevm-circuits, opcode

#162 Refactor bus-mapping
  Cargo.toml
  bus-mapping/.gitignore
  bus-mapping/Cargo.toml
  bus-mapping/README.md
  bus-mapping/src/bytecode.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/error.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/add.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stop.rs
  bus-mapping/src/evm/stack.rs
  bus-mapping/src/evm/storage.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/exec_trace/exec_step.rs
  bus-mapping/src/exec_trace/parsing.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/macros.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  bus-mapping/src/util.rs
  geth-utils/gethutil/trace.go
  geth-utils/lib/lib.go
  geth-utils/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits

#156 Add rho related checks
  .gitignore
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  keccak256/src/common.rs
  keccak256/src/gates.rs
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/rho_helpers.rs
  keccak256/src/gates/tables.rs
  keccak256/src/keccak_arith.rs
Labels: keccak

#160 Implement MSTORE8 opcode
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/constraint_builder.rs
Labels: zkevm-circuits, opcode

#171 Add GethClient and support for minimum required JSON-RPC endpoints by bus-mapping.
  bus-mapping/Cargo.toml
  bus-mapping/src/error.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/rpc.rs
Labels: bus-mapping

#181 Upgrade the toolchain to nightly
  .github/workflows/lints.yml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/error.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/jumpdest.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/pc.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/stop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/evm/storage.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/macros.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  bus-mapping/src/rpc.rs
  keccak256/src/arith_helpers.rs
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/rho_helpers.rs
  keccak256/src/gates/tables.rs
  keccak256/src/gates/theta.rs
  keccak256/src/gates/xi.rs
  keccak256/src/plain.rs
  rust-toolchain
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/common_cases.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/math_gadgets.rs
  zkevm-circuits/src/evm_circuit/op_execution/utils/memory_gadgets.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits, opcode, keccak

#183 bus-mapping: Introduce EVM error detection
  bus-mapping/Cargo.toml
  bus-mapping/src/bytecode.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm/opcodes/ids.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/geth_errors.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  geth-utils/build.rs
  geth-utils/gethutil/trace.go
  geth-utils/go.mod
  geth-utils/go.sum
  geth-utils/lib/lib.go
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic.rs
Labels: bus-mapping, opcode

#191 bus-mapping: Extend CallContext
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/sload.rs
Labels: bus-mapping

#198 Mitigate the long testing time by allowing partial fixed table
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/add.rs
  zkevm-circuits/src/evm_circuit/op_execution/arithmetic/bitwise.rs
  zkevm-circuits/src/evm_circuit/op_execution/byte.rs
  zkevm-circuits/src/evm_circuit/op_execution/comparator.rs
  zkevm-circuits/src/evm_circuit/op_execution/dup.rs
  zkevm-circuits/src/evm_circuit/op_execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/op_execution/memory.rs
  zkevm-circuits/src/evm_circuit/op_execution/pc.rs
  zkevm-circuits/src/evm_circuit/op_execution/pop.rs
  zkevm-circuits/src/evm_circuit/op_execution/push.rs
  zkevm-circuits/src/evm_circuit/op_execution/signextend.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
Labels: zkevm-circuits, opcode

#193 bus-mapping: Add StateDB key-value database
  bus-mapping/src/eth_types.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/statedb.rs
Labels: bus-mapping
