Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2021-10, with the labels that each got.

#97 [keccak] Theta gate circuit
  keccak256/Cargo.toml
  keccak256/src/gates.rs
  keccak256/src/gates/theta.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/lib.rs
Labels: keccak

#116 bus-mapping: add SLOAD opcode
  bus-mapping/.gitignore
  bus-mapping/src/error.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/push.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/storage.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/exec_trace/exec_step.rs
  bus-mapping/src/exec_trace/parsing.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits

#108 Implement opcode swap1~swap16
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/op_execution.rs
  zkevm-circuits/src/evm_circuit/op_execution/swap.rs
Labels: zkevm-circuits, opcode
