Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-01, with the labels that each got.

#261 fix tx_convert in witness
  bus-mapping/src/eth_types.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#262 public mod table
  zkevm-circuits/src/evm_circuit.rs
Labels: zkevm-circuits

#263 Public the StateCircuit fields
  zkevm-circuits/src/state_circuit/state.rs
Labels: zkevm-circuits

#264 Fix MixingConfing w/ Lookups integration
  keccak256/src/circuit.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/mixing.rs
  keccak256/src/gates/tables.rs
  keccak256/src/keccak_arith.rs
Labels: keccak

#267 Remove duplicate ROUND_CTANT input from Mixing
  keccak256/src/gates/mixing.rs
Labels: keccak

#255 Circuit for opcode `MUL`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/mul.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: opcode

#230 Implement `ExecutionState::BeginTx`
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, zkevm-circuits, opcode

#259 Circuit for opcode COINBASE
  .gitignore
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/eth_types.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/coinbase.rs
  bus-mapping/src/external_tracer.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  circuit-benchmarks/src/evm_circuit.rs
  integration-tests/src/lib.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/coinbase.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, zkevm-circuits, opcode

#244 Use more instance columns for power of randomness
  circuit-benchmarks/src/evm_circuit.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: zkevm-circuits, opcode

#281 Handle base conversion nicer
  keccak256/src/arith_helpers.rs
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/rho_helpers.rs
  keccak256/src/gates/tables.rs
  keccak256/src/gates/theta.rs
Labels: keccak

#283 Remove biguint to field
  keccak256/src/arith_helpers.rs
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/base_conversion.rs
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/mixing.rs
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/state_conversion.rs
  keccak256/src/gates/tables.rs
  keccak256/src/gates/theta.rs
  keccak256/src/gates/xi.rs
Labels: keccak

#271 Fix MSIZE opcode and add doc to step
  bus-mapping/src/evm/memory.rs
  bus-mapping/src/evm/opcodes/msize.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_pure_memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#286 Refactor rho witness
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/rho_helpers.rs
Labels: keccak

#279 Extend memory gadgets to handle dynamic offset and length
  bus-mapping/src/evm.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_pure_memory.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#280 Signed comparator gadget: SLT, SGT
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: opcode

#296 Fix the error of the expr degree in signed comparator exceeding the max degree
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: opcode

#304 Split eth-types Error
  bus-mapping/src/error.rs
  bus-mapping/src/lib.rs
  eth-types/src/error.rs
Labels: bus-mapping

#308 fix base conversion
  keccak256/src/gates/base_conversion.rs
  keccak256/src/gates/tables.rs
Labels: keccak

#305 Simplify rho gates
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/rho.rs
  keccak256/src/gates/rho_checks.rs
  keccak256/src/gates/rho_helpers.rs
  keccak256/src/gates/tables.rs
Labels: keccak

#285 feat: upgrade RwTable and add aux
  circuit-benchmarks/src/evm_circuit.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: zkevm-circuits, opcode

#310 Replace `assert!` with `debug_assert!` and add a new profile `release-debug`
  Cargo.toml
  bus-mapping/src/bytecode.rs
  keccak256/src/arith_helpers.rs
  keccak256/src/gates/gate_helpers.rs
  keccak256/src/gates/rho_helpers.rs
  keccak256/src/gates/tables.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/plain.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode, keccak
