Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-11, with the labels that each got.

#746 implement oog constant state
  Cargo.lock
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/stop.rs
  eth-types/Cargo.toml
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#862 Increase max_rws in CircuitParams::default
  .github/workflows/integration.yml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/return.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI, crate-integration-tests

#829 Add the Super Circuit to the set of integration tests
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#843 pi_circuit: fix table inconsistencies
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#871 Merge return & revert state in the ExecutionState
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-zkevm-circuits

#879 Fix EndBlock, EVM padding and integration tests
  .github/workflows/integration.yml
  bus-mapping/src/evm/opcodes.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI, crate-integration-tests

#874 bus-mapping: fix return_data
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/return.rs
Labels: crate-bus-mapping

#826 bus-mapping: implement history_hashes and prev. state root
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/mock.rs
  integration-tests/tests/circuit_input_builder.rs
Labels: crate-bus-mapping, crate-integration-tests

#858 Add capacity option to keccak circuits
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#884 remove IsPersistent lookup for error handling
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#889 Fix panic on bad tx signature
  eth-types/src/geth_types.rs
Labels: crate-eth-types

#902 EXP Circuit Naming
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#779 Add circuit for RETURNDATACOPY opcode
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/return.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#896 add keccak_padding padding option
  bus-mapping/src/circuit_input_builder.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-integration-tests

#864 fix is_final in keccak multi pack
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits

#887 fix empty block ExecutionState potiential mismatch issue
  circuit-benchmarks/src/evm_circuit.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#903 Make the TxTable Tag column fixed (instead of advice)
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#918 fix super circuit bench
  Makefile
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#906 workflows/integration: only run integration tests on request
  .github/workflows/integration.yml
Labels: CI

#847 Circuit for opcode `DELEGATECALL`
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#930 fix: Mock `Challenges` with different values
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#936 Revert "workflows/integration: only run integration tests on request …
  .github/workflows/integration.yml
Labels: CI

#927 reduce super circuit degree to 9 to reduce extend_k from 4 to 3
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#925 Keccak Challenge-API integration
  circuit-benchmarks/src/bit_keccak.rs
  circuit-benchmarks/src/packed_keccak.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks
