Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-12, with the labels that each got.

#948 Keccak implementations discarting benches
  circuit-benchmarks/src/bit_keccak.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/packed_keccak.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, benchmarks: Super

#899 Add bench for copy circuit
  Makefile
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/lib.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#938 add unit test for Balance opcode
  bus-mapping/src/evm/opcodes/balance.rs
Labels: crate-bus-mapping

#952 Circuit for opcode `CALLCODE`
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#950 chore: remove invalid jump test as added in error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
Labels: crate-zkevm-circuits

#959 integration tests: add PR label on action trigger
  .github/workflows/integration.yml
Labels: CI

#908 Update codehash for successful calls when is_create=True
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  eth-types/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#907 Support non-existing proofs in RwTable
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#730 Public input circuit optimization
  circuit-benchmarks/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#827 implement OOG Call state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#951 bus-mapping: fix return data offset and length bookkeeping
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#965 CopyCircuit Challenge API integration
  Cargo.lock
  circuit-benchmarks/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#878 Integration tests to use actual prover
  .github/workflows/integration.yml
  Cargo.lock
  integration-tests/Cargo.toml
  integration-tests/run.sh
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/src/lib.rs
  integration-tests/tests/circuits.rs
  integration-tests/tests/circuits_actual.rs
  integration-tests/tests/circuits_mock.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, CI, crate-integration-tests, trigger-integration-tests

#962 fix: typo in memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
Labels: crate-zkevm-circuits

#920 Math gadgets refactory
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/abs_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/batched_is_zero.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/comparison.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/constant_division.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words512.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_word_u64.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/pair_select.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/range_check.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits, trigger-integration-tests

#989 fix balance test
  bus-mapping/src/evm/opcodes/balance.rs
Labels: crate-bus-mapping

#979 fix dummy error handling
  bus-mapping/src/evm/opcodes.rs
Labels: crate-bus-mapping

#961 Add TODO
  zkevm-circuits/src/state_circuit.rs
Labels: crate-zkevm-circuits

#980 Add exp circuit bench
  Makefile
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/lib.rs
  zkevm-circuits/src/exp_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#683 Circuit for opcode `BALANCE`
  bus-mapping/src/evm/opcodes/balance.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#939 add unit tests for stackOnlyOp opcode
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  mock/src/block.rs
  mock/src/lib.rs
Labels: crate-bus-mapping, crate-mock

#963 Using log instead of println
  .gitignore
  Cargo.lock
  geth-utils/Cargo.toml
  integration-tests/src/bin/gen_blockchain_data.rs
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  testool/src/main.rs
  testool/src/statetest/results.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, crate-keccak, crate-integration-tests, crate-geth-utils

#1005 fix issue #1004
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
Labels: crate-zkevm-circuits

#973 Bug: fix to not invoke `transfer` for call related opcodes (except `CALL`)
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1012 Update `randomness` and fix `current_value` to `Word` type in `CallOpGadget`
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#1015 fix log copyrwc when is_persistent = false
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-zkevm-circuits

#1007 fix to check account empty for existence in `BALANCE` bus mapping
  bus-mapping/src/evm/opcodes/balance.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1014 Circuit for opcode `EXTCODESIZE`
  bus-mapping/src/evm/opcodes/extcodesize.rs
  eth-types/src/geth_types.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#1010 fix bug #1009: parse call write protection error
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
Labels: crate-bus-mapping

#999 fix modulo soundness due to overflow
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
Labels: crate-zkevm-circuits
