Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-09, with the labels that each got.

#728 pad evm circuit to make vk/pk universal
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#725 [keccak] Small improvements
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
Labels: crate-zkevm-circuits

#717 Connect Keccak circuit and table
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#731 Self hosted runner for Integration Tests GH Action
  .github/integrationTestsScripts/wakeUpRunner.sh
  .github/workflows/integration.yml
Labels: CI

#734 Self hosted runner for Integration Tests GH Action (permissions fix)
  .github/integrationTestsScripts/wakeUpRunner.sh
Labels: CI

#726 move evm_circuit::witness as crate::witness; split it into smaller mods
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/bytecode.rs
  zkevm-circuits/src/witness/call.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#758 upgrade ethers-* packages to 0.17.0
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/mock.rs
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  integration-tests/Cargo.toml
  integration-tests/src/bin/gen_blockchain_data.rs
  mock/Cargo.toml
  mock/src/block.rs
  mock/src/transaction.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types

#761 Fix a typo in integration-tests/README.md
  integration-tests/README.md
Labels: crate-integration-tests

#759 update: Port codebase to latest halo2/wrong versions
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  gadgets/Cargo.toml
  integration-tests/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types, crate-gadgets

#763 bytecode circuit: throw synthesis error if witness is too large
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
Labels: crate-zkevm-circuits

#762 Simplify CopyStep and CopyEvent
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#769 fix: small error in columns creation of EVM circuit
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-zkevm-circuits

#735 Add test function to report opcode gas cost in state circuit
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/state_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#774 fix: CI tests need golang
  .github/workflows/integration.yml
Labels: CI

#764 Modify `PiCircuitConfig` to receive `TxTable` and `BlockTable`.
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#776 Constrain CallContext initial value to be 0
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  eth-types/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#773 Fix order of block hash assignment
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#770 Use `Challenge` api for Bytecode circuit
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#792 Fix phase of `hash_input_rlc` in Bytecode circuit
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
Labels: crate-zkevm-circuits

#780 feat: Add helper function to calcualte TxLog address key
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits

#787 git: ignore submodules by default
  .gitmodules
  integration-tests/run.sh
Labels: crate-integration-tests

#796 Pack TxLog addresses for write rows instead of read rows
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#797 Add missing ECDSA RangeChip load in SuperCircuit
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#798 Rename Hardcoded params
  circuit-benchmarks/src/tx_circuit.rs
Labels: T-bench, crate-circuit-benchmarks

#805 delete outdated coinbase/number/timestamp evm gadgets
  zkevm-circuits/src/evm_circuit/execution/coinbase.rs
  zkevm-circuits/src/evm_circuit/execution/number.rs
  zkevm-circuits/src/evm_circuit/execution/timestamp.rs
Labels: crate-zkevm-circuits

#806 Use same randomness for keccak circuit in super circuit
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#813 keccak: switch to multi_pack
  Makefile
  README.md
  circuit-benchmarks/src/bit_keccak.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/packed_keccak.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/state_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks
