Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-05, with the labels that each got.

#485 Delete the review_lottery from the CI workflows
  .github/reviewer-lottery.yml
  .github/workflows/external_reviewers_assig.yml
Labels: CI

#467 add non static call constraint for sstore
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#490 update: Bump halo2 dep version to v2022_05_03 tag
  Cargo.lock
  Cargo.toml
  circuit-benchmarks/Cargo.toml
  gadgets/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  keccak256/src/permutation/rho_checks.rs
  keccak256/src/permutation/tables.rs
  keccak256/src/permutation/theta.rs
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-keccak, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests, crate-gadgets

#496 chore(github CI): upgrade cache action to v3
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#486 fix: Handle value obtentions for AssignedCells
  keccak256/src/arith_helpers.rs
  keccak256/src/circuit/word_builder.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/rho_checks.rs
  keccak256/src/permutation/state_conversion.rs
Labels: crate-keccak, benchmarks: Keccak

#482 Split circuit_input_builder file and improve APIs for it
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  keccak256/src/permutation/base_conversion.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak

#491 Remove `pairing` and use `halo2_proof::pairing` instead
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/README.md
  bus-mapping/src/lib.rs
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/keccak_permutation.rs
  circuit-benchmarks/src/state_circuit.rs
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  gadgets/Cargo.toml
  gadgets/src/evm_word.rs
  gadgets/src/is_zero.rs
  gadgets/src/lib.rs
  gadgets/src/monotone.rs
  integration-tests/Cargo.toml
  integration-tests/tests/circuits.rs
  keccak256/Cargo.toml
  keccak256/src/circuit/word_builder.rs
  keccak256/src/permutation/absorb.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota_b13.rs
  keccak256/src/permutation/iota_b9.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/pi.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/state_conversion.rs
  keccak256/src/permutation/theta.rs
  keccak256/src/permutation/xi.rs
  prover/Cargo.toml
  prover/src/bin/gen_params.rs
  prover/src/bin/prover_cmd.rs
  prover/src/bin/prover_rpcd.rs
  prover/src/compute_proof.rs
  prover/src/shared_state.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/benches/binary_value.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests, crate-eth-types, crate-gadgets

#497 Try wrap read/write ops
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/sload.rs
Labels: crate-bus-mapping

#462 Implement constraints in state circuit spec
  Cargo.lock
  circuit-benchmarks/build.rs
  circuit-benchmarks/src/state_circuit.rs
  integration-tests/tests/circuits.rs
  prover/Cargo.toml
  prover/src/compute_proof.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/state_circuit/state_tests.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, benchmarks: State, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests

#507 fix log gas by adding static cost
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-zkevm-circuits

#500 Multi-AZ provers
  .github/proverCiScripts/execBench.sh
  .github/proverCiScripts/misc/route53.template
  .github/proverCiScripts/shutdownProver.sh
  .github/proverCiScripts/wakeUpProver.sh
Labels: CI

#518 [Keccak] Remove unused code for the entire crate
  keccak256/src/permutation.rs
  keccak256/src/permutation/absorb.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota_b13.rs
  keccak256/src/permutation/iota_b9.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_helpers.rs
  keccak256/src/permutation/state_conversion.rs
  keccak256/src/permutation/tables.rs
  keccak256/src/permutation/theta.rs
  keccak256/src/permutation/xi.rs
Labels: crate-keccak

#516 Fix flakiness in begin_tx_gadget_rand
  mock/src/lib.rs
  mock/src/test_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-zkevm-circuits, crate-mock

#510 fix multi copy step data index
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#522 Refactor rw operation for issue #498
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/call.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/origin.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/operation.rs
Labels: crate-bus-mapping

#527 [keccak] rm state conversion
  keccak256/src/permutation.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/state_conversion.rs
Labels: crate-keccak

#525 some minor fixes
  Makefile
  bus-mapping/src/circuit_input_builder/access.rs
  circuit-benchmarks/build.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/keccak_permutation.rs
  circuit-benchmarks/src/state_circuit.rs
  gadgets/src/is_zero.rs
  integration-tests/src/bin/gen_blockchain_data.rs
  keccak256/src/permutation/rho.rs
  zkevm-circuits/benches/binary_value.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-gadgets

#524 Add overrides to StateCircuit for negative tests
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/state_tests.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#531 Rename code_source to code_hash
  bus-mapping/src/evm/opcodes/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#537 [Keccak] Optimization round: Reduce columns
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
Labels: crate-keccak

#535 Fix incorrect current_cumulative_gas_used in end_tx_gadget
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
Labels: crate-zkevm-circuits

#523 fix tag byte overlap issue #520
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
Labels: crate-zkevm-circuits

#538 Iota refactor
  keccak256/src/permutation.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota.rs
  keccak256/src/permutation/iota_b13.rs
  keccak256/src/permutation/iota_b9.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/rho.rs
Labels: crate-keccak
