Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-06, with the labels that each got.

#544 Add 1 more instance row for starting row
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#553 bump halo2_proofs version to v2022_06_03
  Cargo.lock
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  gadgets/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-keccak, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests, crate-eth-types, crate-gadgets

#519 Opcode `SHR`
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/shr.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#548 Refactor `MulAddWordsGadget`
  zkevm-circuits/src/evm_circuit/execution/mul_div_mod.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
Labels: crate-zkevm-circuits

#476 Tx logs buss mapping
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#555 cargo: patch halo2_proofs on crates.io
  Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  gadgets/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-keccak, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests, crate-eth-types, crate-gadgets

#540 upgrade geth to v1.10.18 to avoid using nightly
  eth-types/src/lib.rs
  geth-utils/go.mod
  geth-utils/go.sum
  integration-tests/docker-compose.yml
Labels: crate-integration-tests, crate-eth-types, crate-geth-utils

#483 opcode CODESIZE
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/codesize.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/codesize.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#563 feat(evm-circuit): add dummy gadget
  .github/workflows/integration.yml
  bus-mapping/src/evm/opcodes.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/dummy.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/lib.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI, crate-integration-tests

#572 chore: update repo link
  CONTRIBUTING.md
  README.md
  geth-utils/README.md
  zkevm-circuits/src/state_circuit.rs
Labels: crate-zkevm-circuits, crate-geth-utils

#550 Add BinaryNumberChip for selecting tags
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/binary_number.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#570 Add generic to keccak
  keccak256/src/permutation.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/generic.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
Labels: crate-keccak

#577 small mixing fix
  keccak256/src/permutation/mixing.rs
Labels: crate-keccak

#571 Replace iota with generics
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota.rs
  keccak256/src/permutation/mixing.rs
Labels: crate-keccak

#576 [Keccak] Replace running sum gates in rho with generic gate
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
Labels: crate-keccak

#583 Box ExecutionConfig in EvmCircuit
  zkevm-circuits/src/evm_circuit.rs
Labels: crate-zkevm-circuits

#558 Pad StateCircuit to a fixed length
  circuit-benchmarks/src/state_circuit.rs
  integration-tests/tests/circuits.rs
  prover/src/compute_proof.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests

#585 Relicense all packages from BOSL to MIT + Apache2.0
  LICENSE-BOSL
  bus-mapping/Cargo.toml
  bus-mapping/LICENSE-BOSL
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  external-tracer/Cargo.toml
  gadgets/Cargo.toml
  geth-utils/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  mock/Cargo.toml
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/LICENSE-BOSL
Labels: crate-bus-mapping, crate-keccak, crate-external-tracer, crate-mock, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests, crate-eth-types, crate-geth-utils, crate-gadgets

#569 [keccak] use tag to stack lookup table cells
  Cargo.lock
  keccak256/Cargo.toml
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
  keccak256/src/permutation/tables.rs
Labels: crate-keccak

#566 Use BinaryNumberChip in LexicographicOrderingConfig to lower degree
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/binary_number.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#590 fix: CALLDATALOAD opcode exec
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
Labels: crate-zkevm-circuits

#588 prover/rpcd: use dedicated tokio runtime for proof computation
  prover/src/bin/prover_rpcd.rs
Labels: crate-prover

#580 add boolean flag lookup
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/tables.rs
Labels: crate-keccak

#552 implement log state circuit
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#565 Add NotGadget
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/not.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits
