Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-02, with the labels that each got.

#301 GasGadget for GAS opcode
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/gas.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#268 Keccak circuit implementation
  Cargo.lock
  Makefile
  README.md
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/keccak_permutation.rs
  circuit-benchmarks/src/lib.rs
  keccak256/src/arith_helpers.rs
  keccak256/src/circuit.rs
  keccak256/src/common.rs
  keccak256/src/gates/absorb.rs
  keccak256/src/gates/base_conversion.rs
  keccak256/src/gates/iota_b13.rs
  keccak256/src/gates/iota_b9.rs
  keccak256/src/gates/mixing.rs
  keccak256/src/gates/tables.rs
  keccak256/src/gates/xi.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/lib.rs
Labels: keccak

#170 Bytecode unroller
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/lib.rs
Labels: zkevm-circuits, opcode

#326 Feat/prover: add prover command line utilities
  Cargo.lock
  Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  prover/Cargo.toml
  prover/src/bin/gen_params.rs
  prover/src/bin/prover_cmd.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
Labels: bus-mapping, zkevm-circuits

#287 Implement circuit for CALLER and CALLVALUE opcode
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/callvalue.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#333 feat: add error handling in `impl From<&bus_mapping::circuit_input_builder::ExecStep> for ExecutionState`
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#297 Circuit for opcode calldatacopy
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: zkevm-circuits, opcode

#329 Gadget for opcode calldatasize
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/param.rs
Labels: bus-mapping, opcode

#328 Circuit for opcode SELFBALANCE
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/operation/container.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#298 Initialize `LastCallee*` of `CallContext`
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode
