Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-04, with the labels that each got.

#412 Add NUMBER module to opcodes and update testing infra
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/number.rs
Labels: bus-mapping

#278 Implementation `ExecutionState::CALL`
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/gas_utils.rs
  eth-types/src/evm_types/memory.rs
  eth-types/src/evm_types/opcode_ids.rs
  keccak256/Cargo.toml
  keccak256/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, zkevm-circuits, opcode, keccak, benchmarks: ALL

#420 deny debug_assert_with_mut_call in clippy
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/lib.rs
Labels: zkevm-circuits, opcode

#422 Implement Gasprice opcode and gadget
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
  mock/src/test_ctx.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/add.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/callvalue.rs
  zkevm-circuits/src/evm_circuit/execution/coinbase.rs
  zkevm-circuits/src/evm_circuit/execution/comparator.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/execution/mul.rs
  zkevm-circuits/src/evm_circuit/execution/number.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/pop.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/evm_circuit/execution/timestamp.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/test_util.rs
Labels: bus-mapping, zkevm-circuits, opcode

#360 ORIGIN opcode
  Cargo.lock
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/origin.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#409 Rename "state write" to "reversible write"
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/call.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#391 CODECOPY opcode
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, zkevm-circuits, opcode

#434 Fix some bugs of `CircuitInputBuilder`
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#449 busmapping implementation for CODECOPY
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/constants.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/lib.rs
  eth-types/src/bytecode.rs
  eth-types/src/error.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, T-opcode, bus-mapping

#415 check rw_counter is unique
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#450 CALLDATACOPY: Internal call and refactoring
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, bus-mapping

#402 CALLDATALOAD: bus-mapping and refactoring
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#452 change: Update sdb/storage-related ops warm check fields
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#413 add blockCtxOp gadgets
  bus-mapping/src/evm/opcodes.rs
  geth-utils/gethutil/trace.go
  geth-utils/src/lib.rs
  mock/src/block.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-geth-utils

#446 feat: Add PR requester for external reviewers
  .github/reviewer-lottery.yml
  .github/workflows/external_reviewers_assig.yml
Labels: CI

#403 Fix error checking and bytecode circuit
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: crate-zkevm-circuits

#461 fix: Add rustfmt skip rule at module level
  gadgets/src/is_zero.rs
Labels: crate-gadgets

#441 prover: add http/json-rpc daemon command
  Cargo.lock
  prover/Cargo.toml
  prover/src/bin/prover_cmd.rs
  prover/src/bin/prover_rpcd.rs
  prover/src/compute_proof.rs
  prover/src/lib.rs
  prover/src/shared_state.rs
  prover/src/structs.rs
Labels: crate-prover

#335 Circuit for logs op codes
  bus-mapping/src/circuit_input_builder.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#475 Fix bytecode table width
  circuit-benchmarks/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#481 simplify code to reduce redundant lines
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/exec_trace.rs
Labels: crate-bus-mapping
