Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-10, with the labels that each got.

#817 geth-utils: remove 10mb trace limit
  external-tracer/src/lib.rs
  geth-utils/lib/lib.go
Labels: crate-external-tracer, crate-geth-utils

#803 Refactor Tx circuit and use challenge api
  circuit-benchmarks/src/tx_circuit.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#816 Test for Super circuit
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#719 RETURN gadget for non-create calls
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/return.rs
  eth-types/src/bytecode.rs
  eth-types/src/lib.rs
  mock/src/account.rs
  zkevm-circuits/src/evm_circuit/execution/return.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#807 Add bench for bytecode circuit
  Makefile
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/lib.rs
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#818 Increase rw_counter_offset when doing a copy table lookup
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#835 SuperCircuit: add common instance() function
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#825 pi_circuit: developer goodies
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#837 Make stack_pointer_offset an expression so self.condition can be applied
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#801 Circuit for opcode `STATICCALL`
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#836 fix rust analyzer run test "mock unresolved issue"
  bus-mapping/Cargo.toml
Labels: crate-bus-mapping

#839 Use stack push/pop instead of stack_lookup
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#824 refactor: encapsulate OpcodeId arithmetics
  bus-mapping/src/evm/opcodes/logs.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#846 Fixes integration tests by re-allowing invalid opcodes in witness
  circuit-benchmarks/src/bytecode_circuit.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types

#848 fix call recursive test with invalid jump error
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#838 Handle is_create=True for RETURN/REVERT
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/dummy.rs
  zkevm-circuits/src/evm_circuit/execution/return.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#833 remove IsPersistent from Stop
  bus-mapping/src/evm/opcodes/stop.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#857 evm_circuit: conditionally enable `check_rw_lookup`
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#795 EndBlock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/return.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#703 Add circuit for RETURNDATASIZE opcode
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/returndatasize.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#700 Exponentiation circuit and EXP opcode
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/exp.rs
  circuit-benchmarks/src/evm_circuit.rs
  gadgets/src/lib.rs
  gadgets/src/mul_add.rs
  gadgets/src/util.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-gadgets
