Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-03, with the labels that each got.

#361 fix unit test debug error
  zkevm-circuits/src/evm_circuit.rs
Labels: zkevm-circuits

#365 Minor: remove comments
  keccak256/src/gates/base_conversion.rs
  keccak256/src/gates/rho_checks.rs
Labels: keccak

#354 feat: speedup test by only check constraints on less rows for MockProver
  Cargo.lock
  Cargo.toml
  circuit-benchmarks/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
Labels: zkevm-circuits, keccak

#379 CI: Skip dependencies for doc checks
  .github/workflows/ci.yml
  Makefile
Labels: CI

#334 feat: add `sload` op (non-bus-mapping version)
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/state.rs
Labels: bus-mapping, zkevm-circuits, opcode

#338 Implement word/next_inputs padding for keccak
  circuit-benchmarks/src/keccak_permutation.rs
  keccak256/src/circuit.rs
  keccak256/src/circuit/word_builder.rs
  keccak256/src/gate_helpers.rs
  keccak256/src/gates.rs
  keccak256/src/lib.rs
  keccak256/src/permutation.rs
  keccak256/src/permutation/absorb.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota_b13.rs
  keccak256/src/permutation/iota_b9.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/pi.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
  keccak256/src/permutation/rho_helpers.rs
  keccak256/src/permutation/state_conversion.rs
  keccak256/src/permutation/tables.rs
  keccak256/src/permutation/theta.rs
  keccak256/src/permutation/xi.rs
Labels: keccak

#380 state circuit update part1: change RwTable according to latest spec; finish stack/storage constraints
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/state_circuit.rs
  integration-tests/tests/circuits.rs
  prover/src/bin/prover_cmd.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/rw_table.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/test_util.rs
Labels: zkevm-circuits, opcode

#381 Circuit for NUMBER opcode
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/number.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/number.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#346 op CALLDATALOAD
  Cargo.lock
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: bus-mapping, opcode

#383 feat: add `sstore` circuit
  bus-mapping/src/operation.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#397 fix: fix `state_write_counter` in `sload` & `sstore` circuits
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: opcode

#393 Bus-mapping for opcode `calldatacopy`
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/number.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/stop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/lib.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/test_util.rs
Labels: bus-mapping, zkevm-circuits, opcode

#353 Circuit for EXTCODEHASH opcode
  Cargo.lock
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/state_db.rs
  eth-types/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: bus-mapping, opcode

#401 fix "gen_state_access_trace" when handling the call stacks
  bus-mapping/src/circuit_input_builder.rs
Labels: bus-mapping

#349 Modularize mock crate for easier and more customizable testing setup generation
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/dup.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/number.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/swap.rs
  bus-mapping/src/lib.rs
  eth-types/src/bytecode.rs
  eth-types/src/lib.rs
  mock/Cargo.toml
  mock/src/account.rs
  mock/src/block.rs
  mock/src/lib.rs
  mock/src/test_ctx.rs
  mock/src/transaction.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/state.rs
  zkevm-circuits/src/test_util.rs
Labels: bus-mapping, zkevm-circuits, opcode

#399 opcode `ISZERO`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: opcode
