Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-08, with the labels that each got.

#651 mock/gen_geth_traces: explicitly require chain_id
  mock/src/test_ctx.rs
Labels: crate-mock

#635 SHA3 opcode
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  circuit-benchmarks/src/evm_circuit.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types

#653 Don't import FromIterator, TryInto, and TryFrom
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  eth-types/src/evm_types/memory.rs
  eth-types/src/lib.rs
  gadgets/src/evm_word.rs
  keccak256/src/circuit/padding.rs
  keccak256/src/circuit/word_builder.rs
  keccak256/src/gate_helpers.rs
  keccak256/src/lib.rs
  keccak256/src/permutation/absorb.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/iota.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/pi.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_helpers.rs
  keccak256/src/permutation/tables.rs
  keccak256/src/permutation/theta.rs
  keccak256/src/permutation/xi.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/coinbase.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/number.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/execution/timestamp.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, crate-eth-types, crate-gadgets

#655 Fix RLC values in Copy/Keccak table lookup (SHA3)
  bus-mapping/Cargo.toml
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#656 Remove keys from CopyEvent
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#647 dummy error gadgets
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/pop.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#648 reconstruct access list in bus-mapping
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
Labels: crate-bus-mapping

#530 Give state_circuit create_proof the correct instance to avoid Invalid Instance Error
  circuit-benchmarks/src/state_circuit.rs
  prover/src/compute_proof.rs
Labels: T-bench, crate-circuit-benchmarks, crate-prover

#649 fix selfdestruct in bus-mapping
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
Labels: crate-bus-mapping

#589 [keccak] Refactor lookup table and rho table
  circuit-benchmarks/src/keccak_permutation.rs
  keccak256/src/permutation.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/rho_checks.rs
  keccak256/src/permutation/rho_helpers.rs
  keccak256/src/permutation/tables.rs
Labels: crate-keccak, T-bench, crate-circuit-benchmarks

#670 add state circuit to super circuit
  gadgets/src/binary_number.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits, crate-gadgets

#674 fix oog in call handling #673
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#596 [Keccak] Thinest and longest
  circuit-benchmarks/src/keccak_permutation.rs
  keccak256/src/arith_helpers.rs
  keccak256/src/permutation.rs
  keccak256/src/permutation/absorb.rs
  keccak256/src/permutation/base_conversion.rs
  keccak256/src/permutation/circuit.rs
  keccak256/src/permutation/components.rs
  keccak256/src/permutation/generic.rs
  keccak256/src/permutation/iota.rs
  keccak256/src/permutation/mixing.rs
  keccak256/src/permutation/pi.rs
  keccak256/src/permutation/rho.rs
  keccak256/src/permutation/tables.rs
  keccak256/src/permutation/theta.rs
  keccak256/src/permutation/xi.rs
Labels: crate-keccak, benchmarks: Keccak, T-bench, crate-circuit-benchmarks

#678 test: simplify fixed table tags
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/not.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#680 Circuit for opcode `ADDRESS`
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/address.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#676 better error msgs for rw lookup error
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#682 Fixed-value randomness tests
  circuit-benchmarks/src/tx_circuit.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#654 Integration tests for tx, copy and bytecode circuits
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  integration-tests/Cargo.toml
  integration-tests/tests/circuits.rs
  prover/src/compute_proof.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-prover, crate-integration-tests

#631 prover: add replica feature
  prover/src/bin/prover_rpcd.rs
  prover/src/json_rpc.rs
  prover/src/lib.rs
  prover/src/server.rs
  prover/src/shared_state.rs
  prover/src/structs.rs
  prover/tests/proverd.rs
Labels: crate-prover

#671 SuperCircuit: add benchmarks, copy circuit
  .github/proverCiScripts/execBench.sh
  Cargo.lock
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/build.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/Cargo.toml
  eth-types/src/geth_types.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, CI, T-bench, crate-circuit-benchmarks, crate-eth-types

#595 Add Public Inputs circuit
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#691 tests: add calldata to calldatacopy tests
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#672 workflows: add reusable workflow for self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/select-runner.yml
Labels: CI, self-hosted-ci

#701 Enable valid MockTx generation & move it's generation to mock crate
  Cargo.lock
  circuit-benchmarks/src/tx_circuit.rs
  eth-types/src/geth_types.rs
  integration-tests/tests/circuits.rs
  mock/Cargo.toml
  mock/src/lib.rs
  mock/src/test_ctx.rs
  mock/src/transaction.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, crate-mock, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types

#634 [keccak] Alternative implementations
  Makefile
  circuit-benchmarks/src/bit_keccak.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/packed_keccak.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  gadgets/src/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_bit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/lib.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-gadgets

#714 remove prover crate
  Cargo.lock
  Cargo.toml
  prover/Cargo.toml
  prover/src/bin/gen_params.rs
  prover/src/bin/prover_cmd.rs
  prover/src/bin/prover_rpcd.rs
  prover/src/compute_proof.rs
  prover/src/json_rpc.rs
  prover/src/lib.rs
  prover/src/server.rs
  prover/src/shared_state.rs
  prover/src/structs.rs
  prover/tests/proverd.rs
Labels: crate-prover

#709 Add circuit for `BLOCKHASH` opcode
  bus-mapping/src/evm/opcodes/chainid.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#706 Move keccak inputs computation to CircuitInputBuilder
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/Cargo.toml
  eth-types/src/error.rs
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  eth-types/src/sign_types.rs
  gadgets/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types, crate-gadgets

#715 copy circuit double assigned
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#713 fix empty block assigning error
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#578 Opcode `SHL`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/shr.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#722 fix: also add feature guard `dev` to mod `test` of copy_circuit
  integration-tests/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, crate-integration-tests
