Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2022-07, with the labels that each got.

#419 Implementation `ExecutionState::STOP`
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/call.rs
  bus-mapping/src/evm/opcodes/codesize.rs
  bus-mapping/src/evm/opcodes/return.rs
  bus-mapping/src/evm/opcodes/stop.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/copy_code_to_memory.rs
  zkevm-circuits/src/evm_circuit/execution/copy_to_log.rs
  zkevm-circuits/src/evm_circuit/execution/memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/return.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#599 evm: add dummy gadgets for remaining opcodes
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/dummy.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#604 refactor memory gadget
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#605 Read caller's `CalleeAddress` instead of `CallerAddress` for new context's caller
  bus-mapping/src/evm/opcodes/call.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#606 bus mapping: refactor begin&end tx stop with read/write ops
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/stop.rs
Labels: crate-bus-mapping

#609 fix typos
  bus-mapping/src/circuit_input_builder.rs
Labels: crate-bus-mapping

#559 Opcode `SDIV` and `SMOD`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#591 Add initial_value column and constraints for rw consistency and initial values
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/binary_number.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#611 Refactor: evm-circuit util/chips to "gadgets" crate
  Cargo.lock
  gadgets/Cargo.toml
  gadgets/src/binary_number.rs
  gadgets/src/less_than.rs
  gadgets/src/lib.rs
  gadgets/src/util.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits, crate-gadgets

#623 fix memory offset rlc issue in log
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-zkevm-circuits

#620 Set initial TxReceipt accesses to be writes instead of reads
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#627 fix integration test
  bus-mapping/src/evm/opcodes/codecopy.rs
  eth-types/src/bytecode.rs
  eth-types/src/error.rs
Labels: crate-bus-mapping, crate-eth-types

#628 fix wrong rw lookup in gasprice and origin
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/witness.rs
Labels: crate-zkevm-circuits

#619 prover/compute_proof: track duration of proving time
  prover/src/compute_proof.rs
  prover/src/structs.rs
Labels: crate-prover

#616 Add test function with EVM circuit stats
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-zkevm-circuits

#630 fix issue #629 and some cleanups
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#639 Fix `CALL` to calculate `is_empty_account` correctly
  bus-mapping/src/evm/opcodes/call.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#640 fix memory expand gas
  eth-types/src/evm_types/gas_utils.rs
Labels: crate-eth-types

#642 update rust version
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/error.rs
  bus-mapping/src/state_db.rs
  eth-types/src/bytecode.rs
  eth-types/src/lib.rs
  gadgets/src/less_than.rs
  gadgets/src/util.rs
  keccak256/src/arith_helpers.rs
  keccak256/src/permutation/rho_helpers.rs
  prover/src/bin/prover_rpcd.rs
  rust-toolchain
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, crate-prover, crate-eth-types, crate-gadgets

#622 SuperCircuit
  bus-mapping/src/circuit_input_builder/execution.rs
  circuit-benchmarks/src/evm_circuit.rs
  gadgets/src/util.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/call.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/callvalue.rs
  zkevm-circuits/src/evm_circuit/execution/chainid.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/witness.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/rw_table.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-gadgets

#643 Ci self hosted runner (fix)
  .github/ciChecksScripts/wakeUpRunner.sh
Labels: CI

#646 state_circuit: move N_ROWS argument to runtime
  circuit-benchmarks/src/state_circuit.rs
  integration-tests/tests/circuits.rs
  prover/src/compute_proof.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-prover, crate-integration-tests
