Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-12, with the labels that each got.

#1693 [proof chunk] root circuit consistency between chunk
  circuit-benchmarks/src/state_circuit.rs
  gadgets/src/permutation.rs
  integration-tests/src/integration_test_circuits.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/aggregation.rs
  zkevm-circuits/src/root_circuit/dev.rs
  zkevm-circuits/src/root_circuit/test.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/dev.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/util/chunkctx_config.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-gadgets

#1628 Identity (dataCopy) precompile
  .gitignore
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_code_store.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/error_oog_exp.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  bus-mapping/src/evm/opcodes/error_oog_precompile.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/error_simple.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/stop.rs
  bus-mapping/src/precompile.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/binary_number.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/table/copy_table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1708 Grammatical corrections in eth-types
  eth-types/src/evm_types/memory.rs
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/sign_types.rs
Labels: crate-eth-types
