Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-01, with the labels that each got.

#1022 fix typos
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/pi_circuit.rs
Labels: T-bench, crate-circuit-benchmarks

#994 Improve supercircuit usage
  integration-tests/src/integration_test_circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#1024 Fix/super circuit double assign
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#1018 opt(assignment): speedup EndBlock padding
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits

#1038 Bug: fix inconsistency `EXTCODESIZE`
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
Labels: crate-zkevm-circuits, crate-mock

#1042 fix stack value `address` to `Word` type in gadgets
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1040 fix: add comment for special case of `x = -2^255` to `AbsWord` gadget
  zkevm-circuits/src/evm_circuit/util/math_gadget/abs_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits

#997 bugfix for pi-circuit-bench
  circuit-benchmarks/src/pi_circuit.rs
Labels: T-bench, crate-circuit-benchmarks

#998 merge insufficient balance error into callop
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1023 Refactor/callop call oog
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1046 feat(state): constrain non-exist proof for account and storage
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  gadgets/src/batched_is_zero.rs
  gadgets/src/lib.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/codesize.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-gadgets

#1036 Circuit for opcode `SAR`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/sar.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-zkevm-circuits

#720 Write extcodecopy circuit
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1068 fix check rw lookup with correct challenge API
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#1067 fix extcodecopy: non-exsit-proof, challenge api, and other fixes
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1076 state circuit allows non zero old_state_root
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#1075 Add a pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: CI

#1030 constrain rw_counter_end_of_reversion for failed step
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1064 Fix sub-circuit padding & Pk/Vk non-determinisim to prevent variadic circuit sizes
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#1069 fix delegate call with insufficient balance
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1094 chore: Update halo2_proofs & halo2wrong to latest releases
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  gadgets/Cargo.toml
  integration-tests/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types, crate-gadgets

#1096 fix: Revert empty row inclusion in MPT table
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#1078 refactor copy circuit
  circuit-benchmarks/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#1103 Fix: CopyCircuit integration tests
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, trigger-integration-tests

#1092 feat: panic on invalid account lookups
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/state_db.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1105 Fix: typos
  CONTRIBUTING.md
  bus-mapping/README.md
  geth-utils/README.md
  testool/README.md
Labels: crate-bus-mapping, crate-geth-utils

#1090 Make EVM circuit work with multi-phase `MockProver`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#1057 Refactor get_row_nums of evm circuit
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#1117 chore: fix typo
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-zkevm-circuits

#1104 chore: unify circuits in integration tests
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, trigger-integration-tests

#1113 Refactor RandomLinearCombination::<F, 32>::random_linear_combine_expr to accept challenge instead of powers
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/bytecode.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits
