Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-11, with the labels that each got.

#1674 [proof-chunk] check rwtable fingerprint equality in last chunk
  gadgets/src/permutation.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/util/chunkctx_config.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1621 Feat/#1513 buffer reader gadget unit test
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget/test_util.rs
Labels: crate-zkevm-circuits

#1615 Integration tests benchmarks
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  .github/workflows/main-tests.yml
  Cargo.lock
  integration-tests/.gitignore
  integration-tests/Cargo.toml
  integration-tests/build.rs
  integration-tests/contracts/BENCHMARKS.sol
  integration-tests/contracts/Greeter.sol
  integration-tests/contracts/MLOAD/MLOAD.sol
  integration-tests/contracts/OpenZeppelinERC20TestToken.sol
  integration-tests/contracts/SDIV/SDIV.sol
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/lib.rs
  integration-tests/tests/rpc.rs
  rustfmt.toml
Labels: CI, crate-integration-tests

#1688 Fix circuits integration tests panic: "unwrap on None value" when EIP-4896 withdrawals==None
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#1686 Fix circuit benchmarks
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/mpt_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/state_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
Labels: T-bench, crate-circuit-benchmarks
