Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-03, with the labels that each got.

#1269 Make methods private in keccak cell manager and clean some unused calls
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/cell_manager.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits

#1254 Compile time of configure gadget
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#1263 test-keccak-normalize-table: unit tests for the content of lookup tables
  zkevm-circuits/src/keccak_circuit/table.rs
  zkevm-circuits/src/keccak_circuit/util.rs
Labels: crate-zkevm-circuits

#1277 Chore: merge invalid op code buss mapping to simple error
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_opcode.rs
  bus-mapping/src/evm/opcodes/error_simple.rs
Labels: crate-bus-mapping

#1270 fix tx_accesslist_account_write for warm addresses in BeginTx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1268 zkevm_circuits: add zkevm chain fixture test
  Cargo.lock
  mock/src/test_ctx.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/tests/prover_error.rs
Labels: crate-mock

#1279 subcircuit trait for PiTestCircuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#1283 follow EIP-211: create/create2 successful case must set empty returndatasize
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1286 Fix: account lookup various inconsistencies
  .github/workflows/ci.yml
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI

#1294 fix: reduce stack consumption in EVM Circuit
  .github/workflows/ci.yml
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits, CI, T-bug

#1296 Keccak circuit annotations
  zkevm-circuits/src/keccak_circuit.rs
Labels: crate-zkevm-circuits

#1297 add scheduler, add conditional parameter provertype, add workflow_dis…
  .github/workflows/integration.yml
Labels: CI

#1274 Test Keccak WordParts
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/test.rs
  zkevm-circuits/src/keccak_circuit/util.rs
Labels: crate-zkevm-circuits

#1295 ExpCircuit integration test
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuits.rs
Labels: crate-integration-tests

#1314 bus-mapping: fix clippy errors
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#1293 memory and mpt proof synchronization
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#1320 Fix to enable `gas_is_u64` for failed Calls
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#1319 Integration tests with ephemeral runners via GitHub ops
  .github/workflows/integration.yml
  integration-tests/README.md
  integration-tests/run.sh
Labels: CI, crate-integration-tests

#1321 Fix overflow cases of `ErrorReturnDataOutOfBound`
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1322 Small fix to sync stack pointer valid range from zkevm-specs
  eth-types/src/evm_types/opcode_ids.rs
Labels: crate-eth-types

#1323 Remove comments as negative test is covered by error_return_data_oo_bound
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
Labels: crate-zkevm-circuits

#1316 Abstract code hash function into CodeDB
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/state_db.rs
  keccak256/src/lib.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak

#1329 Sort state circuit stats by descending order of h/g
  Makefile
  zkevm-circuits/src/stats.rs
Labels: crate-zkevm-circuits

#1346 ci/test-features: add dummy complete step for branch rules
  .github/workflows/test-features.yml
Labels: CI
