Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-07, with the labels that each got.

#1485 fix-bufferreader: constrain the "in-bound" selectors vs the addresses
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-zkevm-circuits

#1486 add overall cell utilization statistics
  zkevm-circuits/src/bin/stats/main.rs
Labels: crate-zkevm-circuits

#1457 Remove witness tx struct
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  circuit-benchmarks/src/pi_circuit.rs
  eth-types/src/geth_types.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/instance.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/table/tx_table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types

#1515 fix rws padding logic and error handling
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1514 Combine LookupU8 and LookupU16 under Lookup(Table)
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/util/cell_manager.rs
  zkevm-circuits/src/util/cell_manager_strategy.rs
Labels: crate-zkevm-circuits

#1292 circuit for invalid creation code
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1452 Fix #1451, option 1: Simply upgrade ethers
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/state_db.rs
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/geth_types.rs
  integration-tests/Cargo.toml
  integration-tests/src/bin/gen_blockchain_data.rs
  mock/Cargo.toml
  mock/src/block.rs
  mock/src/transaction.rs
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, crate-mock, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types

#1517 optimize few subcircuit synthesis call phase from 3->2 in dev mode
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#1500 Add debug expr in EVMConstraintBuilder
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits, T-feature

#1524 Remove deprecated, unreachable_code and add docs to Evm circuit
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/table/keccak_table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits

#1537 Clean up github workflows
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/lints.yml
  .github/workflows/main-tests.yml
  .github/workflows/test-features.yml
Labels: CI

#1538 Remove the prover bench from Halo2 CI script
  .github/proverCiScripts/deployToProver.sh
  .github/proverCiScripts/execBench.sh
  .github/proverCiScripts/getSysstat.sh
  .github/proverCiScripts/injectHalo2Revision.sh
  .github/proverCiScripts/prepareProver.sh
  .github/proverCiScripts/rsSysstat.sh
  .github/workflows/ProverBenchFromHalo2.yml
Labels: CI

#1540 Testool migration
  .github/testoolScripts/build.sh
  .github/testoolScripts/cleanup.sh
  .github/testoolScripts/prepare.sh
  .github/testoolScripts/run.sh
  .github/testoolScripts/sync.sh
  .github/testoolScripts/wakeUpRunner.sh
  .github/workflows/testool.yml
Labels: CI

#1529 Bytecode, and a collection of bytecodes.
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/codesize.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/state_db.rs
  circuit-benchmarks/src/bytecode_circuit.rs
  eth-types/src/bytecode.rs
  eth-types/src/geth_types.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/bin/stats/helpers.rs
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/dev.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/bytecode_table.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types

#1544 Hardcode build target in workflow
  .github/workflows/main-tests.yml
Labels: CI

#1527 Fully implement PUSHn
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
Labels: crate-zkevm-circuits
