Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-08, with the labels that each got.

#1550 Worst case benches - deploy wc contracts
  Cargo.lock
  integration-tests/Cargo.toml
  integration-tests/contracts/EXTCODESIZE/EXTCODESIZE100.sol
  integration-tests/contracts/MLOAD/MLOAD.sol
  integration-tests/contracts/SDIV/SDIV.sol
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/lib.rs
Labels: crate-integration-tests

#1553 Remove assembly in geth-utils
  geth-utils/README.md
  geth-utils/build.rs
  geth-utils/example/add_sub.go
  geth-utils/example/msize.go
  geth-utils/example/mstore_mload.go
  geth-utils/example/sstore_sload.go
  geth-utils/gethutil/asm.go
  geth-utils/gethutil/trace.go
  geth-utils/gethutil/util.go
  geth-utils/go.mod
Labels: crate-geth-utils

#1555 implement oog account access
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_account_access.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1559 fix: misused `max_priority_fee_per_gas` and `max_fee_per_gas`
  eth-types/src/geth_types.rs
Labels: crate-eth-types

#1558 implement oog sha3 error state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  eth-types/src/evm_types.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sha3.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#1561 fix: remove unnecessary match
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-zkevm-circuits

#1560 Feat/#1518 ErrorOutOfGasStaticMemoryExpansion error state
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1577 feat/#1576 refactor rw counter delta for CommonErrorGadget
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_account_access.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sha3.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits
