Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-05, with the labels that each got.

#1364 Add Byte Range Checks in `LtChip`
  gadgets/src/less_than.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1336 feat/ #1180 refactor gen_begin_tx_ops and gen_end_tx_ops
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
Labels: crate-bus-mapping

#1378 Prune tx struct fields and rm witness Call
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  eth-types/src/evm_types.rs
  eth-types/src/geth_types.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/call.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1389 zellic-fix-1: fix typo in multiplied terms
  gadgets/src/mul_add.rs
Labels: crate-gadgets

#1397 Simplify bytecode circuit assignment
  gadgets/src/is_zero.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1405 Set keccak logs to debug level
  zkevm-circuits/src/keccak_circuit.rs
Labels: crate-zkevm-circuits

#1407 Move stats to bin
  Cargo.lock
  Makefile
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bin/stats/helpers.rs
  zkevm-circuits/src/bin/stats/main.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit.rs
Labels: crate-zkevm-circuits

#1408 Rm dead code except of zkevm circuits
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/memory_expansion_test.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/lib.rs
  eth-types/src/lib.rs
  gadgets/src/evm_word.rs
  gadgets/src/lib.rs
  gadgets/src/monotone.rs
  testool/src/statetest/json.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-gadgets

#1409 Retype Gas limit and nonce to u64
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/state_db.rs
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  mock/src/account.rs
  mock/src/test_ctx.rs
  mock/src/transaction.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#1394 word hi/lo utilities (initial version)
  keccak256/src/gate_helpers.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/add_sub.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/abs_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words512.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_word_u64.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/util/word.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits, crate-keccak

#1406 Remove RwTableTag
  bus-mapping/src/operation.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/copy_table.rs
  zkevm-circuits/src/table/exp_table.rs
  zkevm-circuits/src/table/rw_table.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1421 Fix infinite loop
  bus-mapping/src/operation.rs
Labels: crate-bus-mapping

#1415 Bug: fix to truncate offset from Word to Uint64 when length is zero for some opcodes
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1419 [CREATE Part A (updated)] Modification to Copy Circuit
  mock/src/test_ctx.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/table/copy_table.rs
Labels: crate-zkevm-circuits, crate-mock

#1425 Feat/CREATE Part B - Error cases that will be handled within opcode gadgets
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1436 Remove release drafter
  .github/release-drafter.yml
  .github/workflows/draft.yml
Labels: CI

#1435 Fix build on word-lo-hi branch
  .github/workflows/ProverBenchFromHalo2.yml
  .github/workflows/ci.yml
  .github/workflows/draft.yml
  .github/workflows/gh-actions-prover-benches.yml
  .github/workflows/github-ops.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/lints.yml
  .github/workflows/test-features.yml
  Makefile
  zkevm-circuits/src/evm_circuit/execution/add_sub.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/abs_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words512.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_word_u64.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/util/word.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits, CI

#1440 Remove keccak256 crate and migrate keccak plain to eth-types
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/geth_types.rs
  eth-types/src/keccak.rs
  eth-types/src/lib.rs
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  keccak256/src/common.rs
  keccak256/src/gate_helpers.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/lib.rs
  testool/Cargo.toml
  testool/src/compiler.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, CI, T-bench, crate-circuit-benchmarks, crate-eth-types
