Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-10, with the labels that each got.

#1633 Remove minimal_rows in the Bytecode circuit
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1638 Fix circuit failure output
  Cargo.lock
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#1640 Add precompile contracts' addresses to the access list
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1634 Feat/##1369 withdraw from beacon chain part 1 - pi circuit
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/withdrawal.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/src/geth_types.rs
  external-tracer/src/lib.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  mock/src/block.rs
  mock/src/lib.rs
  mock/src/test_ctx.rs
  mock/src/test_ctx2.rs
  mock/src/transaction.rs
  mock/src/withdrawal.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/instance.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/root_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/block_table.rs
  zkevm-circuits/src/table/tx_table.rs
  zkevm-circuits/src/table/wd_table.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/tests/prover_error.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-external-tracer, crate-mock, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types

#1648 feat: support prevrandao
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  eth-types/src/geth_types.rs
  geth-utils/gethutil/trace.go
  mock/src/lib.rs
Labels: crate-bus-mapping, crate-mock, crate-eth-types, crate-geth-utils

#1642 Nitpicks: is_some() refactor
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/bin/stats/helpers.rs
  zkevm-circuits/src/mpt_circuit.rs
Labels: crate-zkevm-circuits

#1662 fix soundness: block_table tag/index should be fixed column
  zkevm-circuits/src/table/block_table.rs
Labels: crate-zkevm-circuits

#1664 add error pruning on step_first/step_last to avoid use against lookup
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#1666 Fix typos
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/circuit_tools/cached_region.rs
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1657 fix many bugs of create op
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1673 fix return revert stack underflow
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#1671 fix: get_create_init_code can be wrong
  bus-mapping/src/circuit_input_builder.rs
Labels: crate-bus-mapping

#1669 feat: if rws reaches limit, stop early and return err
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/address.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_code_store.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/origin.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/evm/opcodes/stop.rs
Labels: crate-bus-mapping

#1676 fix return/revert offset/len in handle_return for err cases
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#1672 opt: dedup inputs for keccak circuit
  bus-mapping/src/circuit_input_builder.rs
Labels: crate-bus-mapping

#1641 [proof chunk] refactor evm_circuit/state_circuit to support proof chunk
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/chunk.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  circuit-benchmarks/src/state_circuit.rs
  gadgets/Cargo.toml
  gadgets/src/lib.rs
  gadgets/src/permutation.rs
  zkevm-circuits/src/copy_circuit/dev.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_chunk.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_chunk.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/dev.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/chunkctx_table.rs
  zkevm-circuits/src/table/rw_table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-gadgets
