Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-09, with the labels that each got.

#1582 use StepRws to make rw index less error prone
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#1567 Feat/#1519 implement ErrorOutOfGasDynamicMemoryExpansion error state
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_dynamic_memory.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1562 implement ErrorOutOfGasCREATE error gadget
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1585 Fix callop tests and some improvements
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1596 fix unconstrained is_warm in sload/sstore
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1594 fix(callop): fix LastCalleeId, and other fixes
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1591 [MPTWG] Update CI for MPTWG
  .github/workflows/lints.yml
  .github/workflows/mpt-witness-generator.yml
  mpt-witness-generator/.github/workflows/go.yml
Labels: CI

#1568 copy-fix-terminate: enforce secure termination of the copy circuit
  bus-mapping/src/circuit_input_builder.rs
  gadgets/src/binary_number.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-gadgets

#1564 handle gas uint overflow (ErrorGasUintOverflow)
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#1600 [fix] skip value is zero in end_tx
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
Labels: crate-bus-mapping

#1613 bus-mapping: improve self-destruct
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
Labels: crate-bus-mapping

#1511 Add test for the codehash of the coinbase account.
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
Labels: crate-zkevm-circuits

#1588 [MPT] Add minimal RLP encoding check
  README.md
  zkevm-circuits/src/circuit_tools/cached_region.rs
  zkevm-circuits/src/circuit_tools/cell_manager.rs
  zkevm-circuits/src/circuit_tools/constraint_builder.rs
  zkevm-circuits/src/circuit_tools/memory.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/mpt_circuit/account_leaf.rs
  zkevm-circuits/src/mpt_circuit/branch.rs
  zkevm-circuits/src/mpt_circuit/extension.rs
  zkevm-circuits/src/mpt_circuit/extension_branch.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/param.rs
  zkevm-circuits/src/mpt_circuit/rlp_gadgets.rs
  zkevm-circuits/src/mpt_circuit/start.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/mpt_circuit/witness_row.rs
Labels: crate-zkevm-circuits

#1623 fix ErrDepth check
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#1624 fix: parse "TLOAD/TSTORE" correctly in trace
  eth-types/src/evm_types/opcode_ids.rs
Labels: crate-eth-types

#1632 move bytecode circuit to conform with the codebase style
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#1635 Fix doc warnings
  testool/src/statetest/spec.rs
  zkevm-circuits/src/util/word.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits

#1079 Handle accounts with non-zero code hashes in BeginTx
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
