Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-02, with the labels that each got.

#1044 Implement bytecode refactor spec in circuit
  circuit-benchmarks/src/bytecode_circuit.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, trigger-integration-tests

#1125 bug: add `shf0 == shift.cells[0]` constraint to `ShlShrGadget`
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
Labels: crate-zkevm-circuits

#1126 Allocate dummy columns before challenges also when `feature = "test"`
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#935 add gen_rand_rpi for pi circuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#1137 Annotate LookupTable & EVM Circuit columns
  Cargo.lock
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  gadgets/src/evm_word.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-gadgets

#1116 circuit for oog log error state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1143 Add issue form template
  .github/ISSUE_TEMPLATE/bug_form_template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_form_template.yml
Labels: CI

#1127 feat: add OOG error handling for `CALLCODE`, `DELEGATECALL` and `STATICCALL` to `ErrorOOGCall`
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1000 Implement `RootCircuit` for `SuperCircuit` aggregation
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/aggregation.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#1089 Circuit for `ErrorInvalidOpcode` state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  bus-mapping/src/evm/opcodes/error_invalid_opcode.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1062 Fix exp circuit padding
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#1017 implement return data of bound error circuit
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1145 Fix CI Checks workflow to support ephemeral GH runners
  .github/workflows/ci.yml
  .github/workflows/github-ops.yml
  .github/workflows/select-runner.yml
Labels: CI

#1150 Update PR template and remove PULL_REQUEST_TEMPLATE directory
  .github/pull_request_template.md
Labels: CI

#1129 Refactor keccak-circuit into mods for looses coupling.
  circuit-benchmarks/src/packed_multi_keccak.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/cell_manager.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/param.rs
  zkevm-circuits/src/keccak_circuit/table.rs
  zkevm-circuits/src/keccak_circuit/test.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#1161 tx refund synchronization
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1207 uniform log messages for benchmark proof generation/verification
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/state_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
Labels: T-bench, crate-circuit-benchmarks

#1168 Annotate execution circuit q_step column
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#1167 Exp circuit annotations
  gadgets/src/mul_add.rs
  zkevm-circuits/src/exp_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1216 merge queue fixes
  .github/workflows/ci.yml
  .github/workflows/lints.yml
Labels: CI

#1148 Integration test of EVM circuit should cache the proving/verifying keys
  bus-mapping/src/circuit_input_builder.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#1213 Remove unused constant N_CELLS_STEP_STATE
  zkevm-circuits/src/evm_circuit/param.rs
Labels: crate-zkevm-circuits

#1164 Contract CREATE/CREATE2 Helper (Util) Gadget
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#1156 Annotate PI circuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#1147 OOG error circuit for `SLOAD` and `SSTORE`
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1144 add `test-circuits` feature flag
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#1173 Feat/root circuit annotation
  zkevm-circuits/src/root_circuit/aggregation.rs
Labels: crate-zkevm-circuits

#1219 fix none tx.to issue
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
Labels: crate-eth-types

#1218 Remove build.rs in circuit-benchmarks
  circuit-benchmarks/.gitignore
  circuit-benchmarks/build.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
Labels: T-bench, crate-circuit-benchmarks

#1171 Constrain value_prev to be value at Rotation::prev()
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits, trigger-integration-tests

#1226 [Tests] CREATE2 inputs in Math Utils Gadget
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
Labels: crate-zkevm-circuits

#1225 fix: add a constraint for SSTORE gas reentrancy sentry
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: crate-zkevm-circuits

#1151 Bug: add `shf_lt256` constraint to `ShlShrGadget`
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
Labels: crate-zkevm-circuits

#1166 Enhancement reporting benchmark results
  .github/proverCiScripts/benchmarks_result_reporting/reporting_main.py
  .github/proverCiScripts/benchmarks_result_reporting/reporting_modules.py
  .github/proverCiScripts/execBench.sh
  .github/proverCiScripts/getSysstat.sh
  .github/proverCiScripts/processResults.sh
  .github/proverCiScripts/sadf.sh
  .github/workflows/gh-actions-prover-benches.yml
  README.md
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/constants.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/state_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
Labels: CI, T-bench, crate-circuit-benchmarks

#1222 feat: Add copy circuit stats by exec state
  Makefile
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/mock.rs
  integration-tests/tests/circuit_input_builder.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/stats.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-integration-tests

#1163 CI: cancel workflow runs of outdated commits and skip for same content
  .github/workflows/ci.yml
  .github/workflows/lints.yml
Labels: CI

#1159 Simlify `ErrorStack` circuit with `ResponsibleOpcode` lookup
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/stats.rs
Labels: crate-zkevm-circuits, crate-eth-types

#1230 Fix/bool checks
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-zkevm-circuits

#1234 feat: cache EVM circuit configuration in unit tests
  Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#1001 implement error write protection circuit
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1237 fix account empty
  bus-mapping/src/state_db.rs
Labels: crate-bus-mapping

#1238 fix some typos and outdated namings
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/stack.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits, crate-eth-types

#1232 Implement circuit for `EXP` OOG error
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_exp.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1152 feat/annotate for state and bytecode circuit
  gadgets/src/batched_is_zero.rs
  gadgets/src/binary_number.rs
  gadgets/src/is_zero.rs
  gadgets/src/mul_add.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1177 refactor common error gadget
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#1229 Feat/evm occupancy stats
  Cargo.lock
  Makefile
  eth-types/src/evm_types/stack.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
Labels: crate-zkevm-circuits, T-feature, T-test, crate-eth-types

#1244 refactor write protection to use common error gadget
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
Labels: crate-zkevm-circuits

#1242 Fix `fee` to not reversible in begin tx
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1224 Keccak integration tests and more
  bus-mapping/src/circuit_input_builder.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/run.sh
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/test.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#1245 docs: add documentation on evm_circuit::cached
  zkevm-circuits/src/evm_circuit.rs
Labels: crate-zkevm-circuits

#1247 feat: RootCircuit: add derive(Clone)
  zkevm-circuits/src/root_circuit.rs
Labels: crate-zkevm-circuits

#1140 Handle contract creation tx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/binary_number.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1239 improve debuggability: better check of rw lookup and rw value
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits

#1255 fix: update `ErrorOOGExpGadget` to use `CommonErrorGadget`
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
Labels: crate-zkevm-circuits

#1262 fix/keccak-decode-overflow: calculate with bitshifts in u64
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits

#1260 Bug: fix to not truncate `external_address` for `EXTCODECOPY`
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1253 Perf improvements for keccak,state circuit
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/state_circuit.rs
Labels: crate-zkevm-circuits

#1248 refactor duplicated memory copy codes
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  eth-types/src/evm_types/memory.rs
Labels: crate-bus-mapping, crate-eth-types

#1258 Bug: fix to handle `destination` overflow in `ErrorInvalidJumpGadget`
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
