Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-04, with the labels that each got.

#972 [MPT] Misc refactoring
  gadgets/src/is_zero.rs
  gadgets/src/util.rs
  zkevm-circuits/src/circuit_tools.rs
  zkevm-circuits/src/circuit_tools/cell_manager.rs
  zkevm-circuits/src/circuit_tools/constraint_builder.rs
  zkevm-circuits/src/circuit_tools/gadgets.rs
  zkevm-circuits/src/circuit_tools/memory.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/mpt_circuit/account_leaf.rs
  zkevm-circuits/src/mpt_circuit/account_leaf/account_leaf_key.rs
  zkevm-circuits/src/mpt_circuit/account_leaf/account_leaf_key_in_added_branch.rs
  zkevm-circuits/src/mpt_circuit/account_leaf/account_leaf_nonce_balance.rs
  zkevm-circuits/src/mpt_circuit/account_leaf/account_leaf_storage_codehash.rs
  zkevm-circuits/src/mpt_circuit/account_leaf/account_non_existing.rs
  zkevm-circuits/src/mpt_circuit/branch.rs
  zkevm-circuits/src/mpt_circuit/branch/branch_hash_in_parent.rs
  zkevm-circuits/src/mpt_circuit/branch/branch_init.rs
  zkevm-circuits/src/mpt_circuit/branch/branch_key.rs
  zkevm-circuits/src/mpt_circuit/branch/branch_parallel.rs
  zkevm-circuits/src/mpt_circuit/branch/branch_rlc.rs
  zkevm-circuits/src/mpt_circuit/branch/extension_node.rs
  zkevm-circuits/src/mpt_circuit/branch/extension_node_key.rs
  zkevm-circuits/src/mpt_circuit/columns.rs
  zkevm-circuits/src/mpt_circuit/extension.rs
  zkevm-circuits/src/mpt_circuit/extension_branch.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/lib.rs
  zkevm-circuits/src/mpt_circuit/param.rs
  zkevm-circuits/src/mpt_circuit/proof_chain.rs
  zkevm-circuits/src/mpt_circuit/rlp_gadgets.rs
  zkevm-circuits/src/mpt_circuit/selectors.rs
  zkevm-circuits/src/mpt_circuit/start.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf/leaf_key.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf/leaf_key_in_added_branch.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf/leaf_non_existing.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf/leaf_value.rs
  zkevm-circuits/src/mpt_circuit/tests/NonExistingAccountAfterFirstLevel.json
  zkevm-circuits/src/mpt_circuit/tests/NonExistingAccountNilObject.json
  zkevm-circuits/src/mpt_circuit/tests/NonExistingAccountNilObjectInFirstLevel.json
  zkevm-circuits/src/mpt_circuit/tests/NonExistingStorageNil.json
  zkevm-circuits/src/mpt_circuit/witness_row.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1351 fix a typo in comment
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
Labels: crate-zkevm-circuits

#1340 Remove code duplication between returndatacopy and others
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  eth-types/src/bytecode.rs
  eth-types/src/lib.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/returndatasize.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#1339 Fix `redundant constraint in StateCircuit`
  zkevm-circuits/src/state_circuit/constraint_builder.rs
Labels: crate-zkevm-circuits

#1342 feat/#1186 Unify restore_ctx and handle_return in bus_mapping
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/error_oog_exp.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/error_simple.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/stop.rs
Labels: crate-bus-mapping

#1333 Bytecode soundness patch on last byte
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
Labels: crate-zkevm-circuits

#1299 Fix `ExecutionState::halts_in_exception`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-zkevm-circuits

#1360 create tx by mock crate
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
Labels: crate-zkevm-circuits

#1363 Update geth dependency from v1.10.18 to v1.11.5
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  geth-utils/gethutil/trace.go
  geth-utils/go.mod
  geth-utils/go.sum
  integration-tests/docker-compose.yml
Labels: CI, crate-integration-tests, crate-geth-utils

#1288 Implement circuit for `ErrorOutOfGasMemoryCopy` state
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  eth-types/src/evm_types/gas_utils.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1365 [refactor] refactor and add more helper in Bytecode
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types/memory.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/returndatasize.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/exp_circuit/test.rs
  zkevm-circuits/src/stats.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types

#1373 [chore] upgrade toolchain to nightly-2023-04-24
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/state_db.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
  eth-types/src/evm_types/memory.rs
  rust-toolchain
  testool/src/statetest/parse.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/batched_is_zero.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/keccak_circuit/cell_manager.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-eth-types

#1371 Updated Chiquito lookup table grammar for bytecode circuit
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/bytecode_chiquito.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
Labels: crate-zkevm-circuits

#1372 [feat] add memory reconstruction for precompile
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/precompile.rs
Labels: crate-bus-mapping

#1282 Add `SubCircuit::unusable_rows` and tests for each `SubCircuit`
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/exp_circuit/test.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/param.rs
  zkevm-circuits/src/keccak_circuit/test.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#1317 Fix to handle successful run with Uint64 overflow for multiple opcodes
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1155 handle error depth
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
