Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2023-06, with the labels that each got.

#1448 Replace Gas, GasCost and ProgramCounter by u64.
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/lib.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/gas_utils.rs
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/lib.rs
  gadgets/src/util.rs
  mock/src/test_ctx.rs
  testool/src/statetest/executor.rs
  testool/src/utils.rs
  zkevm-circuits/src/bin/stats/helpers.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock, crate-eth-types, crate-gadgets

#1447 Add PiCircuit to integration tests
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuits.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#1424 feat: add `shanghai` feature and make CI pass with Shanghai geth traces
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  eth-types/src/evm_types.rs
  external-tracer/src/lib.rs
  geth-utils/gethutil/trace.go
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-external-tracer, crate-eth-types, crate-geth-utils

#1449 Fix RLC is_lt_128
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
Labels: crate-zkevm-circuits

#1456 fix: modify assign function of LtChip to take `Value<F>` input instead of `F`
  gadgets/src/less_than.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1433 [word lo/hi] Copy circuit
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#1434 [word lo/hi] keccak circuit to word
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util/word.rs
Labels: crate-zkevm-circuits

#1450 Change ExecError related functions to be associated-fns
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
Labels: crate-bus-mapping

#1430 Feat/CREATE Part C - bus-mapping and gadget implementation
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/state_db.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1459 Re-enable end_tx tests that depended on SSTORE
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
Labels: crate-zkevm-circuits

#1462 MPT improvements
  zkevm-circuits/src/circuit_tools.rs
  zkevm-circuits/src/circuit_tools/cached_region.rs
  zkevm-circuits/src/circuit_tools/cell_manager.rs
  zkevm-circuits/src/circuit_tools/constraint_builder.rs
  zkevm-circuits/src/circuit_tools/gadgets.rs
  zkevm-circuits/src/circuit_tools/memory.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/mpt_circuit/account_leaf.rs
  zkevm-circuits/src/mpt_circuit/branch.rs
  zkevm-circuits/src/mpt_circuit/extension.rs
  zkevm-circuits/src/mpt_circuit/extension_branch.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/rlp_gadgets.rs
  zkevm-circuits/src/mpt_circuit/start.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/mpt_circuit/witness_row.rs
  zkevm-circuits/src/table/mpt_table.rs
Labels: crate-zkevm-circuits

#1480 Integration tests compare permutations of proofs to check for variadic circuits
  integration-tests/src/integration_test_circuits.rs
Labels: crate-integration-tests, run-integration-tests

#1481 Refactor: move `Sha3CodeGen` struct and `rand_bytes` function to mock crate
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  mock/src/lib.rs
  mock/src/sha3.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock

#1482 Feat/#1474 rw lookup index error
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1490 fix rw operation mismatch and reuse exec_step
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1390 Unified cell manager (integrated with EVM circuit)
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/pair_select.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/util/cell_manager.rs
  zkevm-circuits/src/util/cell_manager_strategy.rs
Labels: crate-zkevm-circuits

#1427 [word lo/hi] support u16 range lookup
  zkevm-circuits/src/bin/stats/main.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/dev.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/ux_table.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#1466 Implement header hash block
  mock/src/block.rs
Labels: crate-mock

#1418 Feat/#1387 tx circuit refactor word rlc into word lo/hi
  eth-types/src/geth_types.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#1345 [word lo/hi] pi circuit replace rand/rlc by keccak hash
  bus-mapping/src/circuit_input_builder.rs
  circuit-benchmarks/src/pi_circuit.rs
  integration-tests/run.sh
  integration-tests/src/integration_test_circuits.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/instance.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/pi_circuit/param.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/util/word.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, T-tech-debt
