Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2024-01, with the labels that each got.

#1719 fix soundness: share txid write lookup across step
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/tx.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1721 chores: add create/create2 in stats
  zkevm-circuits/src/bin/stats/helpers.rs
  zkevm-circuits/src/bin/stats/main.rs
Labels: crate-zkevm-circuits

#1727 Fix: typos
  zkevm-circuits/src/evm_circuit/execution/invalid_tx.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/mpt_circuit/rlp_gadgets.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#1723 chore(integration-tests): change build.rs to pull submodules
  integration-tests/build.rs
Labels: crate-integration-tests

#1729 fix typos in test_ctx2.rs
  mock/src/test_ctx2.rs
Labels: crate-mock

#1731 chore: set resolver v2 at the workspace level
  Cargo.toml
  integration-tests/Cargo.toml
  light-client-poc/Cargo.toml
Labels: crate-integration-tests

#1735 Add comment regarding RwTableTag
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/table/rw_table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1733 perf(circuit-tools): preallocate memory and remove unnecessary clones
  zkevm-circuits/src/circuit_tools/cached_region.rs
  zkevm-circuits/src/circuit_tools/cell_manager.rs
  zkevm-circuits/src/circuit_tools/constraint_builder.rs
  zkevm-circuits/src/circuit_tools/memory.rs
Labels: crate-zkevm-circuits

#1734 WASM support for zkevm-circuits crate
  .github/workflows/wasm.yml
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/lib.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/lib.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI

#1737 chore: fix typos
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits

#1739 refactor(evm_circuit): minor fix in end_tx (#1725)
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/invalid_tx.rs
  zkevm-circuits/src/evm_circuit/util/tx.rs
Labels: crate-zkevm-circuits

#1741 Dependency cleaning round
  Cargo.lock
  gadgets/Cargo.toml
  geth-utils/Cargo.toml
  integration-tests/Cargo.toml
  light-client-poc/Cargo.toml
  testool/src/statetest/mod.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/test.rs
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-zkevm-circuits, crate-integration-tests, crate-geth-utils, crate-gadgets

#1745 MPT max nodes
  circuit-benchmarks/src/mpt_circuit.rs
  light-client-poc/src/circuit/mod.rs
  light-client-poc/src/circuit/state_update.rs
  light-client-poc/src/server.rs
  light-client-poc/src/tests/mainnet.rs
  light-client-poc/src/utils.rs
  zkevm-circuits/src/mpt_circuit.rs
Labels: crate-zkevm-circuits, T-bench, crate-circuit-benchmarks

#1728 Runtime config
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/mock.rs
  zkevm-circuits/src/bin/stats/main.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/invalid_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget/test_util.rs
  zkevm-circuits/src/evm_circuit/util/tx.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
