Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2024-03, with the labels that each got.

#1773 [proof chunk] [WIP] [testing] fix various issue found in integration test
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/chunk.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  integration-tests/Cargo.toml
  integration-tests/src/integration_test_circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_chunk.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_chunk.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/exp_circuit/test.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/test.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table/rw_table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/chunk.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/tests/prover_error.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests

#1777 Merge Transfer and TransferWithGas gadget
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1784 Feat/#1752 fix witness generation - adding testing
  geth-utils/gethutil/mpt/trie/stacktrie.go
  geth-utils/gethutil/mpt/witness/gen_witness_transactions_test.go
Labels: crate-geth-utils

#1786 Refactor: use StepRws in evm circuits to replace rw indices
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: crate-zkevm-circuits
