Repository privacy-scaling-explorations/zkevm-circuits, pull requests merged in 2024-02, with the labels that each got.

#1749 upgrade halo2 ecosystem dependencies
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  gadgets/Cargo.toml
  gadgets/src/batched_is_zero.rs
  gadgets/src/is_zero.rs
  gadgets/src/mul_add.rs
  integration-tests/Cargo.toml
  integration-tests/src/integration_test_circuits.rs
  light-client-poc/Cargo.toml
  light-client-poc/src/circuit/prover.rs
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/exp_circuit/test.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/aggregation.rs
  zkevm-circuits/src/root_circuit/dev.rs
  zkevm-circuits/src/root_circuit/test.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/tests/prover_error.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types, crate-gadgets

#1699 MPT StorageDoesNotExist
  mpt-witness-generator/witness/branch.go
  mpt-witness-generator/witness/gen_witness_from_infura_blockchain_test.go
  mpt-witness-generator/witness/leaf.go
  mpt-witness-generator/witness/modified_extension_node.go
  mpt-witness-generator/witness/prepare_witness.go
  zkevm-circuits/src/mpt_circuit/account_leaf.rs
  zkevm-circuits/src/mpt_circuit/extension_branch.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/mpt_circuit/tests/StorageDoesNotExistOnlySProof.json
  zkevm-circuits/src/mpt_circuit/witness_row.rs
Labels: crate-zkevm-circuits

#1758 Ops id trait
  eth-types/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/mpt_circuit/account_leaf.rs
  zkevm-circuits/src/mpt_circuit/branch.rs
  zkevm-circuits/src/mpt_circuit/extension.rs
  zkevm-circuits/src/mpt_circuit/extension_branch.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/start.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/util/word.rs
Labels: crate-zkevm-circuits, crate-eth-types

#1765 Streamline the math gadget API
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/comparator.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_account_access.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/invalid_tx.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/mul_div_mod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/sar.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/abs_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/comparison.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/util/tx.rs
Labels: crate-zkevm-circuits

#1769 Upgrade rust version
  Cargo.lock
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/precompile.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types.rs
  eth-types/src/lib.rs
  eth-types/src/sign_types.rs
  geth-utils/src/mpt.rs
  rust-toolchain
  testool/src/compiler.rs
  testool/src/statetest/results.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
  zkevm-circuits/src/bytecode_circuit.rs
  zkevm-circuits/src/circuit_tools/cell_manager.rs
  zkevm-circuits/src/circuit_tools/constraint_builder.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/comparison.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/constant_division.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words512.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_word_u64.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/pair_select.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/range_check.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/mpt_circuit/helpers.rs
  zkevm-circuits/src/mpt_circuit/mod_extension.rs
  zkevm-circuits/src/mpt_circuit/start.rs
  zkevm-circuits/src/mpt_circuit/storage_leaf.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table/tx_table.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1720 feat/#1665 Precompile ECRECOVER
  .github/workflows/main-tests.yml
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/src/geth_types.rs
  eth-types/src/sign_types.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/dev.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/ecc_circuit/util.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/root_circuit/test.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/dev.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/sig_table.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI, T-bench, crate-circuit-benchmarks, crate-integration-tests, crate-eth-types

#1774 Remove mod.rs files
  bus-mapping/src/evm/opcodes/precompiles.rs
  testool/src/statetest.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1706 fix nondeterministic constraint generation
  zkevm-circuits/src/circuit_tools/memory.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/util/cell_placement_strategy.rs
Labels: crate-zkevm-circuits

#1763 SubCircuit halo2 stats
  gadgets/src/binary_number.rs
  integration-tests/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bin/stats/halo2_stats.rs
  zkevm-circuits/src/bin/stats/main.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/copy_table.rs
  zkevm-circuits/src/table/mpt_table.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits, crate-integration-tests, crate-gadgets

#1779 Stacktrie getproof
  .github/workflows/geth-utils.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  .github/workflows/main-tests.yml
  .github/workflows/test-features.yml
  geth-utils/gethutil/mpt/trie/stacktrie.go
  geth-utils/gethutil/mpt/witness/gen_witness_transactions_test.go
  geth-utils/go.mod
  geth-utils/go.sum
Labels: CI, crate-geth-utils
